# IDE
.idea
.netbeans
.settings
.project

# Local settings
src/server/settings_local.coffee

# Build
build/*
lib/*
node_modules/compiled_modules/current
src/server/version.coffee
src/s
# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt
# Data directiories
data/*
data/avatars/*
