{% extends "base.html" %}

{% block title %}
Password reset — Rizzoma.com
{% endblock title %}

{% block scripts %}
<link type="text/css" href="/s/css/settings.css" rel="stylesheet" />
<link type="text/css" href="/s/css/notification_settings.css" rel="stylesheet" />
{% endblock scripts %}

{% block content %}
<div class="content" id="notification-settings-content">
    <a href="/"><img src="/s/img/logo_rizzoma.png" alt="Rizzoma logo" class="logo"/></a>
    <div class="settings">
        <div class="settings-header">Password reset</div>
        {% if err %}
            <div class="error-message">
                {{ err.message }}
            </div>
        {% endif %}
        <form method="POST" action="/auth/forgot_password/change/" id="id_forgot_password_form">
            <span class="settings-change-password" style="margin-left: 0; margin-right: 10px;">
            <input placeholder="New password" id="id_password" type="password" name="new_password">
            <input type="hidden" name="key" value="{{ key }}" >
            </span>
            <input type="submit" value="Change password">
        </form>
        <div class="settings-footer">
            <a href="/">Rizzoma</a> is a real-time communication and collaboration tool
        </div>
        <script type="text/javascript">
            noRobots = document.createElement('input')
            noRobots.setAttribute('type','hidden')
            noRobots.setAttribute('name','no_robots')
            noRobots.setAttribute('value','no robots here')
            document.getElementById('id_forgot_password_form').appendChild(noRobots)
        </script>
    </div>
</div>
{% endblock content %}