{% import 'notification/macroses.txt' as m %}

<!DOCTYPE html>
<html>
<head>
    <title>Hi, {{ dstUser.name|default("friend") }}!</title>
</head>
<body>
<table cellpadding="0" cellspacing="0" width="600" align="center" style="border-collapse:collapse; background-color: #006975;">
<tr>
<td>
<table cellpadding="0" cellspacing="0" width="600" align="center" style="border-collapse:collapse;">
    <tr height="50">
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr height="54">
        <td width="60"></td>
        <td><span style="text-decoration: none; font-family: Calibri, sans-serif; font-size: 22px; color: #a0fdff;"><a style="text-decoration: none; font-family: Calibri, sans-serif; font-size: 22px; color: #a0fdff;" href="https://rizzoma.com?from=email_firstvisit&place=mainlanding" target="_blank"><img src="https://rizzoma.com/s/page/index/img/for-notification-letter/logo.png" alt="Rizzoma.com"/></a></span></td>
        <td></td>
    </tr>
</table>
<table cellpadding="0" cellspacing="0" width="600" align="center" style="border-collapse:collapse;">
    <tr>
        <td width="600">
            <span style="text-decoration: none; font-family: Calibri, sans-serif; font-size: 22px; color: #a0fdff;"><a style="text-decoration: none; font-family: Calibri, sans-serif; font-size: 22px; color: #a0fdff;" href="https://rizzoma.com?from=email_firstvisit&place=mainlanding" target="_blank"><img src="https://rizzoma.com/s/page/index/img/for-notification-letter/header-bg.png"/></a></span>
        </td>
    </tr>
</table>
<table cellpadding="0" cellspacing="0" width="600" align="center" style="border-collapse:collapse;">
    <tr>
        <td width="70"></td>
        <td width="300">
            <table cellpadding="0" cellspacing="0" width="300" style="border-collapse:collapse;">
                <tr>
                    <td><span style="font-family: Calibri, sans-serif; font-size: 30px; color: #ffffff; font-weight: normal;">Dear {{ dstUser.name|default( "friend") }}</span></td>
                </tr>
                <tr>
                    <td><span style="font-family: Calibri, sans-serif; font-size: 40px; color: #a0fdff; font-weight: normal;">Try Mindmap</span></td>
                </tr>
                <tr>
                    <td><span style="font-family: Calibri, sans-serif; font-size: 14px; color: #ffffff; font-weight: normal;">Expand your consciousness with mindmap feature.<br />
                Get the "big picture" overview of large projects.</span></td>
                </tr>
            </table>
        </td>
        <td width="30"></td>
        <td valign="top"><span style="text-decoration: none; font-family: Calibri, sans-serif; font-size: 22px; color: #a0fdff;"><a style="text-decoration: none; font-family: Calibri, sans-serif; font-size: 22px; color: #a0fdff;" href="https://rizzoma.com?from=email_firstvisit&place=mainlandingMindMap" target="_blank"><img src="https://rizzoma.com/s/page/index/img/for-notification-letter/mindmap.png"/></a></span></td>
        <td width="30"></td>
    </tr>
</table>
<table cellpadding="0" cellspacing="0" width="600" align="center" style="border-collapse:collapse;">
    <tr height="30">
        <td> </td>
    </tr>
    <tr height="1">
        <td width="50"></td>
        <td width="500" style="background-color: #73dfe3;"></td>
        <td width="50"></td>
    </tr>
    <tr height="30">
        <td> </td>
    </tr>
</table>
<table cellpadding="0" cellspacing="0" width="600" align="center" style="border-collapse:collapse;">
    <tr>
        <td width="70"></td>
        <td><span style="font-family: Calibri, sans-serif; font-size: 30px; color: #ffffff;"><a href="https://rizzoma.com/topic/?from=email_firstvisit&place=addTeammates" style="color: #a0fdff; font-family: Calibri, sans-serif; font-size: 30px;">Add teammates</a> to create something awesome together</span></td>
        <td width="50"></td>
    </tr>
</table>
<table cellpadding="0" cellspacing="0" width="600" align="center" style="border-collapse:collapse;">
    <tr height="30">
        <td> </td>
    </tr>
    <tr height="1">
        <td width="50"></td>
        <td width="500" style="background-color: #73dfe3;"></td>
        <td width="50"></td>
    </tr>
    <tr height="30">
        <td> </td>
    </tr>
</table>
<table cellpadding="0" cellspacing="0" width="600" align="center" style="border-collapse:collapse;">
    <tr>
        <td width="70"></td>
        <td><span style="font-family: Calibri, sans-serif; font-size: 36px; color: #a0fdff; font-weight: normal;">Check out examples</span></td>
    </tr>
    <tr>
        <td width="70"></td>
        <td><span style="font-family: Calibri, sans-serif; font-size: 14px; color: #ffffff;">Learn how Rizzoma helped teams to enhance performance.</span></td>
    </tr>
    <tr height="30"><td></td><td></td></tr>
</table>
<table cellpadding="0" cellspacing="0" width="600" align="left" style="border-collapse:collapse;">
    <tr>
        <td width="90"></td>
        <td width="240" align="left">
                        <span style="text-decoration: none;"><a href="http://blog.rizzoma.com/collaboration/extra-tutoring-time-with-rizzoma/?from=email_firstvisit&place=learnPhysics" style="text-decoration: none;">
                            <img src="https://rizzoma.com/s/page/index/img/for-notification-letter/icon-atom.png">
                            <br />
                        </a></span>
                        <span><a href="http://blog.rizzoma.com/collaboration/extra-tutoring-time-with-rizzoma/?from=email_firstvisit&place=learnPhysics" style="font-family: Calibri, sans-serif; font-size: 14px; color: #95f3f6;">
                            Learn physics in university
                        </a></span>
        </td>
        <td>
                        <span style="text-decoration: none;"><a href="https://rizzoma.com/topic/3cad083f42a04690b5def53caa034388/0_b_196d_1748q/?from=email_firstvisit&place=researchBiology" style="text-decoration: none;">
                            <img src="https://rizzoma.com/s/page/index/img/for-notification-letter/icon-bio.png">
                            <br />
                        </a></span>
                        <span><a href="https://rizzoma.com/topic/3cad083f42a04690b5def53caa034388/0_b_196d_1748q/?from=email_firstvisit&place=researchBiology" style="font-family: Calibri, sans-serif; font-size: 14px; color: #95f3f6;">
                            Research biology
                        </a></span>
        </td>
    </tr>
    <tr height="30"><td></td><td></td><td></td></tr>
    <tr>
        <td width="90"></td>
        <td width="240" align="left">
                        <span style="text-decoration: none;"><a href="http://blog.rizzoma.com/2012/09/24/two-person-idea-incubator/?from=email_firstvisit&place=brainstorm" style="text-decoration: none;">
                            <img src="https://rizzoma.com/s/page/index/img/for-notification-letter/icon-chat.png">
                            <br />
                        </a></span>
                        <span><a href="http://blog.rizzoma.com/2012/09/24/two-person-idea-incubator/?from=email_firstvisit&place=brainstorm" style="font-family: Calibri, sans-serif; font-size: 14px; color: #95f3f6;">
                            Brainstorm and chat
                        </a></span>
        </td>
        <td>
                        <span style="text-decoration: none;"><a href="http://blog.rizzoma.com/methodology/have-flag-will-travel/?from=email_firstvisit&place=createBrands" style="text-decoration: none;">
                            <img src="https://rizzoma.com/s/page/index/img/for-notification-letter/icon-diamond.png">
                            <br />
                        </a></span>
                        <span><a href="http://blog.rizzoma.com/methodology/have-flag-will-travel/?from=email_firstvisit&place=createBrands" style="font-family: Calibri, sans-serif; font-size: 14px; color: #95f3f6;">
                            Create new brands
                        </a></span>
        </td>
    </tr>
    <tr height="30"><td></td><td></td><td></td></tr>
    <tr>
        <td width="90"></td>
        <td width="240" align="left">
                        <span style="text-decoration: none;"><a href="http://blog.rizzoma.com/2012/03/08/gamers-usercase/?from=email_firstvisit&place=cooperateInGames" style="text-decoration: none;">
                            <img src="https://rizzoma.com/s/page/index/img/for-notification-letter/icon-gamepad.png">
                            <br />
                        </a></span>
                        <span><a href="http://blog.rizzoma.com/2012/03/08/gamers-usercase/?from=email_firstvisit&place=cooperateInGames" style="font-family: Calibri, sans-serif; font-size: 14px; color: #95f3f6;">
                            Cooperate in MMORPG games
                        </a></span>
        </td>
        <td>
                        <span style="text-decoration: none;"><a href="https://rizzoma.com/topic/bfe957ec09931e9f7d829f02218cb6c7/0_b_2qsf_217bm/?from=email_firstvisit&place=analyzeInvestments" style="text-decoration: none;">
                            <img src="https://rizzoma.com/s/page/index/img/for-notification-letter/icon-graph.png">
                            <br />
                        </a></span>
                        <span><a href="https://rizzoma.com/topic/bfe957ec09931e9f7d829f02218cb6c7/0_b_2qsf_217bm/?from=email_firstvisit&place=analyzeInvestments" style="font-family: Calibri, sans-serif; font-size: 14px; color: #95f3f6;">
                            Analyze investments
                        </a></span>
        </td>
    </tr>
    <tr height="30"><td></td><td></td><td></td></tr>
</table>
<table cellpadding="0" cellspacing="0" width="600" align="center" style="border-collapse:collapse;">
    <tr height="30">
        <td> </td>
    </tr>
    <tr height="1">
        <td width="50"></td>
        <td width="500" style="background-color: #73dfe3;"></td>
        <td width="50"></td>
    </tr>
    <tr height="30">
        <td> </td>
    </tr>
</table>
<table cellpadding="0" cellspacing="0" width="600" align="left" style="border-collapse:collapse;">
    <tr>
        <td width="70"></td>
        <td>
            <span style="font-family: Calibri, sans-serif; font-size: 30px; color: #ffffff; font-weight: normal;">Go to the </span>
                        <span style="font-family: Calibri, sans-serif; font-size: 30px; color: #a0fdff; font-weight: normal;">
                            <a href="https://rizzoma.com/help-center-video.html?from=email_firstvisit&place=helpPage" style="font-family: Calibri, sans-serif; font-size: 30px; color: #a0fdff; font-weight: normal;">Help page</a>
                        </span>
            <span style="font-family: Calibri, sans-serif; font-size: 30px; color: #ffffff; font-weight: normal;"> to see </span>
                        <span style="font-family: Calibri, sans-serif; font-size: 30px; color: #a0fdff; font-weight: normal;">
                            <a href="https://rizzoma.com/help-center-faq.html?from=email_firstvisit&place=faq" style="font-family: Calibri, sans-serif; font-size: 30px; color: #a0fdff; font-weight: normal;">FAQ</a>
                        </span>
            <span style="font-family: Calibri, sans-serif; font-size: 30px; color: #ffffff; font-weight: normal;">, </span>
                         <span style="font-family: Calibri, sans-serif; font-size: 30px; color: #a0fdff; font-weight: normal;">
                            <a href="https://rizzoma.com/help-center-video.html?from=email_firstvisit&place=videosHelp" style="font-family: Calibri, sans-serif; font-size: 30px; color: #a0fdff; font-weight: normal;">videos</a>
                        </span>
            <span style="font-family: Calibri, sans-serif; font-size: 30px; color: #ffffff; font-weight: normal;"> or </span>
                        <span style="font-family: Calibri, sans-serif; font-size: 30px; color: #a0fdff; font-weight: normal;">
                            <a href="https://rizzoma.com/help-center-shortcuts.html?from=email_firstvisit&place=shortcuts" style="font-family: Calibri, sans-serif; font-size: 30px; color: #a0fdff; font-weight: normal;">shortcuts and tips</a>
                            <span style="font-family: Calibri, sans-serif; font-size: 30px; color: #ffffff; font-weight: normal;">.</span>
                        </span>
        </td>
        <td width="70"></td>
    </tr>
</table>
<table cellpadding="0" cellspacing="0" width="600" align="left" style="border-collapse:collapse;">
    <tr height="30"><td></td><td></td><td></td></tr>
    <tr height="37">
        <td width="126"></td>
        <td width="348" align="center"  height="37">
                        <span style="display: block; text-decoration: none; font-family: Calibri, sans-serif; font-size: 0px; color: #a0fdff; text-align: center; height: 37px; width: 100%;"><a href="https://chrome.google.com/webstore/detail/rizzoma-activity-stream/fnbgbbhkjiefjkpibiddeieeppnkjdgp/?from=email_firstvisit&place=chromeApp" style="display: block; text-decoration: none; font-family: Calibri, sans-serif; font-size: 0; color: #a0fdff; text-align: center; height: 37px; width: 100%;">
                            <img src="https://rizzoma.com/s/page/index/img/for-notification-letter/install_app_top.png">
                        </a></span>
        </td>
        <td width="126"></td>
    </tr>
    <tr style="background-color: #ffffff">
        <td width="126"></td>
        <td width="348" align="center">
                        <span style="text-decoration: none; font-family: Calibri, sans-serif; font-size: 12px; color: #a0fdff; text-align: center; width: 100%;"><a href="https://chrome.google.com/webstore/detail/rizzoma-activity-stream/fnbgbbhkjiefjkpibiddeieeppnkjdgp/?from=email_firstvisit&place=chromeApp" style="text-decoration: none; font-family: Calibri, sans-serif; font-size: 12px; color: #000000; text-align: center;  width: 100%;">
                            <img src="https://rizzoma.com/s/page/index/img/for-notification-letter/install_app_bottom.png" alt="Install our Chrome App">
                        </a></span>
        </td>
        <td width="126"></td>
    </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse; background-color: #ffffff">
    <tr><td height="20px"></td></tr>
    <tr>
        <td width="126px;">
        </td>
        <td width="90">
            <span style="font-family:Calibri, sans-serif; color: #111111; font-size: 14px; line-height: 28px">Keep in touch:</span>
        </td>
        <td>
                        <span style="text-decoration: none;cursor: pointer; font-family: Calibri, sans-serif; font-size: 12px; color: black; text-align:center;">
                            <a style="text-decoration: none;cursor: pointer; font-family: Calibri, sans-serif; font-size: 12px; color: black; text-align:center;" href="https://www.facebook.com/rizzomacom" target="_blank">
                                <img src="https://rizzoma.com/s/page/index/img/for-notification-letter/icon-fb.png" alt="Facebook" hspace="10px;">
                            </a>
                        </span>
        </td>
        <td>
                        <span style="text-decoration: none;cursor: pointer; font-family: Calibri, sans-serif; font-size: 12px; color: black; text-align:center;">
                            <a style="text-decoration: none;cursor: pointer; font-family: Calibri, sans-serif; font-size: 12px; color: black; text-align:center;" href="https://twitter.com/rizzomacom" target="_blank">
                                <img src="https://rizzoma.com/s/page/index/img/for-notification-letter/icon-twitter.png" alt="Twitter" hspace="10px;">
                            </a>
                        </span>
        </td>
        <td>
                        <span style="text-decoration: none;cursor: pointer; font-family: Calibri, sans-serif; font-size: 12px; color: black; text-align:center;">
                            <a style="text-decoration: none;cursor: pointer; font-family: Calibri, sans-serif; font-size: 12px; color: black; text-align:center;" href="http://www.linkedin.com/company/rizzoma-com" target="_blank">
                                <img src="https://rizzoma.com/s/page/index/img/for-notification-letter/icon-linked.png" alt="LinkedIn" hspace="10px;">
                            </a>
                        </span>
        </td>
        <td>
                        <span style="text-decoration: none;cursor: pointer; font-family: Calibri, sans-serif; font-size: 12px; color: black; text-align:center;">
                            <a style="text-decoration: none;cursor: pointer; font-family: Calibri, sans-serif; font-size: 12px; color: black; text-align:center;" href="https://plus.google.com/u/0/100419497458726670190/posts" target="_blank">
                                <img src="https://rizzoma.com/s/page/index/img/for-notification-letter/icon-plus.png" alt="Google+1" hspace="10px;">
                            </a>
                        </span>
        </td>
        <td>
                        <span style="text-decoration: none;cursor: pointer; font-family: Calibri, sans-serif; font-size: 12px; color: black; text-align:center;">
                            <a style="text-decoration: none;cursor: pointer; font-family: Calibri, sans-serif; font-size: 12px; color: black; text-align:center;" href="http://blog.rizzoma.com/?from=email_firstvisit&place=rizzomaBlog" target="_blank">
                                <img src="https://rizzoma.com/s/page/index/img/for-notification-letter/icon-blog.png" alt="RizzomaBlog" hspace="10px;">
                            </a>
                        </span>
        </td>
        <td width="80"></td>
    </tr>
    <tr><td height="20px"></td></tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse; background-color: #ffffff">
    <tr>
        <td width="126px;">
        </td>
        <td>
            <div>
                <span style="font-family:Calibri, sans-serif; color: #111111; font-size: 14px;">Sincerely, Rizzoma Team.</span>
            </div>
        </td>
    </tr>
</table>
</td>
</tr>
</table>
</body>
</html>