{% import 'notification/macroses.txt' as m %}
<html>
    <head>
        <title>Set new Rizzoma password</title>
    </head>
    <body style="background-color: #ebf5fe; padding: 10px 20px;font-size: 14px;line-height: 20px;">
        <p>
            Dear {{ dstUser.name|default(dstUser.email) }}!
        </p>
        <p>
            Now you can <a href="{{ baseUrl }}/auth/forgot_password/change/?key={{ key|url_encode }}" style="color: white; background-color: #18b0b2; border: 1px solid #178182; border-radius: 4px; text-decoration: none; padding: 5px 10px; font-size: 14px;">set new password</a> for Rizzoma.
        </p>
        <p >
            If you didn't request new <a href="{{ baseUrl }}/">Rizzoma</a> password simply ignore this email.
        </p>
        {{ m.logoAndSettingsLinkHtml(baseUrl, dstUser.email, dstUser.notification.id, fromType) }}
    </body>
</html>