<span>Hello {{ name }},</span><br></div>
<div><br></div>
<div><span>My name is Vladimir Kobzev. I am knowledge manager of Rizzoma team. </span><br></div>
<div><span>Recently, I have read your article "{{post|raw}}" about new tecnologies in education. I find your point of view very relevant and important to the project our team is working for.</span><br></div>
<div><br></div>
<div><span>This is the main reason why I am writing you.</span><br></div>
<div><br></div>
<div><span>Our team created a product — </span><a href="http://rizzoma.com/for-education-and-research.html?cv=mc">Rizzoma Wiki</a><span> that provides a first-rate technology for effective group communication and realtime collaboration. Rizzoma is used in different fields. One of them is Live Wiki for Education and Research. The main strength of our project is an opportunity to comment and leave a @mention in any place of a document. </span><br></div>
<div><br></div>
<div><span>Efficient communication and sharing of information are highly important for the educational process. From this perspective, Rizzoma is a service that can greatly facilitate group projects in Education and Research. </span><br></div>
<div><br></div>
<div><span>This is an example how a group of biologists uses Rizzoma </span><a href="http://blog.rizzoma.com/2012/05/30/education-process-with-rizzoma/">in their research team work</a><span>.</span><br></div>
<div><br></div>
<div><span>From this perspective, we would appreciate to hear your expert opinion about our project as an e-learning platform.</span><br></div>
<div><br></div>
<div><span>Enthusiastically,</span><br></div>
<div><span>Vladimir Kobzev,</span><br></div>
<div><span>Rizzoma Squad</span>