<div><span>Dear {{ name }}</span><br></div>
<div><br></div>
<div><span>My name is Vladimir, I'm a knowledge manager in Rizzoma.</span><br></div>
<div><br></div>
<div><span>This is a digital age and education has appropriate improvements.
    Recently I have read your article "<a href="{{ postUrl }}">{{ post }}</a>" about new technologies in education.
    I find your point of view very relevant and important to the project our team is working for.</span><br></div>
<div><br></div>
<div><span>Allow me to say a couple of words about what we do.</span><br></div>
<div><br></div>
<div><span>Our team has created a product — </span><a style="font-weight: bold; text-decoration: underline;" href="http://rizzoma.com/?cv=mc">Rizzoma</a><span>
    that provides a first-rate technology for effective group communication and realtime collaboration.
    Rizzoma is used in different fields. One of them is Live Wiki for Education. We call it Live because any member of the Rizzoma topic could make changes simultaneously.
    The main strength of our project is an opportunity to comment and leave a @mention at any place of a document.</span><br></div>
<div><br></div>
<div><span>Here is </span><a style="text-decoration: underline;" href="http://youtu.be/B6W_A6qgoKo">one-minute video</a><span> about our service.</span><br></div>
<div><br></div>
<div><span>From this perspective, we would appreciate to hear your expert opinion about our project as an Wiki service for educators.
    As I said, we find your thoughts given in the article very usefull. So, we want to discuss your article with colleagues in our right up there.
    Would you mind if we take the text of your article and put it in our service to discuss it (of course, we'll save reference to authorities</span><span>)?
    And would you like to join that discussion?</span><br></div>
<div><br></div>
<div><span>Enthusiastically,</span><br></div>
<div><span>Vladimir Kobzev,</span><br></div>
<div><span>Rizzoma Squad</span></div>